<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Home | Smart Touch Laser Aesthetics</title>
  <meta name="author" content="Tim Fleming">
  <meta name="description" content="description here">
  <meta name="keywords" content="keywords,here">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Mono:500" type="text/css">
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
  </head>

  <body>
    <p>Are you tired of all that hair? Call Smart Touch Laser Aesthetics.
       in New York, New York, for assistance! We provide expert laser hair removal
       services for men and women. From facial hair to leg hair to bikini lines,
       laser hair removal is perfect for all these areas. The treatment is fast
       and when it's completed, you don't need to worry again. Call us
       today—it's not a big commitment!</p>
  </body>
</html>
