// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* -------------------------------------------- */
/* Basic Styling */
/* -------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    background-color: #FFF;
    color: #201d1d;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* -------------------------------------------- */
/* Reusable Elements */
/* -------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

/* ------ Headings ------ */

h1 {
    font-family: 'Playfair Display', serif;
    color: #6DFFFF;
    font-size: 275%;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0;
    word-spacing: 4px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 150%;
    font-weight: 300;
    color: #6DFFFF;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin-bottom: 10px;

}

h3 {
    font-family: 'Raleway', sans-serif;
    color: #000;
    text-align: center;
    margin-bottom: 30px;
}

h3:after {
    display: block;
    top: -10px;
    height: 2px;
    background-color: #6DFFFF;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 0 2px 6px #000;
}


/* ------ Paragraphs ------ */

.company-introduction,
.about {   
    line-height: 145%; 
    width: 70%;
    margin-left: 15%;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}

.blog-entries {
    background-color: #F4F4F4;
    line-height: 145%; 
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}

/* -------------------------------------------- */
/* Header */
/* -------------------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
                                      rgba(0, 0, 0, 0.6)), url('bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    margin-top: 15%;
    text-align: center;
    width: auto;
}

.company-name  {
    float: left;    
    color: #FFF;
    text-decoration: none;
    margin-top: 30px;
    font-size: 175%;
}

.company-name:hover,
.ion-chevron-left {
    color: #6DFFFF;
    transition: 0.2s;
}

.main-navigation {
    text-align: center;
    letter-spacing: 2px;
    list-style: none;
    margin-top: 40px;
    float: right;
}

.main-navigation li {
    display: inline-block;
    margin-left: 40px;
}

.main-navigation li a:link,
.main-navigation li a:visited {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
}

.main-navigation li a:hover,
.main-navigation li a:active {
    color: #6DFFFF;
    transition: 0.2s;
}

.ion-chevron-left {
    color: #FFF;    
    margin: 5px 5px;
}

.ion-chevron-left:hover {
    color: #6DFFFF;
    transition: 0.2s;
}

/* -------------------------------------------- */
/* Buttons */
/* -------------------------------------------- */

.button:link,
.button:visited {
    background-color: #6DFFFF;
    border-radius: 4px;
    color: #000;
    border: 1px solid #6DFFFF;
    display: inline-block;
    padding: 15px 35px;
    font-weight: 700;
    text-decoration: none;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.button:hover,
.button:active {
    background-color: #00F5F5;
}

.divider {
    height: 10px;
    width: 100%;
    background-color: #6DFFFF;
}

/* -------------------------------------------- */
/* Contact */
/* -------------------------------------------- */

.contact {
    background-color: #F4F4F4;
}

/* -------------------------------------------- */
/* Footer */
/* -------------------------------------------- */

footer {
    background-color: #00F5F5;
    padding: 50px;
    font-size: 100%;
    color: #000;
}
