<!DOCTYPE html>
<head>

  <!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
  <!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
  <!--[if IE 8]><html class="preIE9"><![endif]-->
  <!--[if gte IE 9]><!--><html><!--<![endif]-->

  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="author" content="Tim Fleming">
  <meta name="description" content="description here">
  <meta name="keywords" content="keywords,here">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700i|Raleway" rel="stylesheet">

  <!-- Site Properties -->
  <title>Home | Smart Touch Laser Aesthetics</title>

</head>

<body>
  <header class="navbar-fixed">
    <nav class="teal">
      <div class="nav-wrapper container">
        <a class="button-collapse show-on-medium" data-activates="slide-out"
          data-turbolinks="false" href="#" id="sidenav">
          <i class="material-icons right">apps</i>
        </a>
        <a href="#" class="brand-logo">STLA</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#!">Home</a></li>
          <li><a href="#!">Our Blog</a></li>
          <li><a href="#!">About Us</a></li>
          <li><a href="#!">Contact Us</a></li>
        </ul>
      </div>
    </nav>
</header>
  <main>
    <div class="hero no-pad-bot cover" id="index-banner">
      <div class="valign-wrapper">
        <div class="row center white-text">
          <h1 class="center-align white-text">Smart Touch Laser Aesthetics</h1>
          <h4 class="center-align white-text">Facial Hair • Bikini Lines • Underarm
          Hair • Leg Hair</h4>
          <a class="btn-large waves-effect waves-light white-text" href="#" id="login-button">Login to Comment</a>
          <a class="btn-large waves-effect waves-light white-text" href="#" id="sign-up-button">Or Simply Sign Up</a>
        </div>
      </div>
     </div>
     <div class="card-panel no-margin no-padding teal">
       <div class="row"><br></div>
     </div>
   </main>

  <!-- Introduction -->

  <section class="company-introduction">
    <div class="row">
      <h5>The Big Apple's Choice for Laser Hair Removal</h5>
      <p class="flow-text">Are you tired of all that hair? Call Smart Touch Laser Aesthetics
       in New York, New York, for assistance! We provide expert laser hair
       removal services for men and women. From facial hair to leg hair to
       bikini lines, laser hair removal is perfect for all these areas. The
       treatment is fast and when it's completed, you don't need to worry again.
       Call us today—it's not a big commitment!
       </p>
   </div>
  </section>

  <!-- Blog Entries -->
  <section class="blog-entries">
    <h5>Latest Blog Posts</h5>
      <div class="container">
        <div class="row">
          <div class="col l4">
            <a href="#">
              <img class="responsive-img" src="/assets/young_woman.jpg" alt="A Young Woman">
            </a>
            <div class="blog-post">
              <h6>
                 <a href="#">Laser Removal for Women</a>
              </h6>
            </div>
         </div>
          <div class="col l4">
            <a href="#">
              <img class="responsive-img" src="/assets/young_man.jpg" alt="A Young Man">
            </a>
            <div class="blog-post">
              <h6>
                  <a href="#">Laser Removal for Men</a>
              </h6>
            </div>
          </div>
          <div class="col l4">
            <a href="#">
              <img class="responsive-img" src="/assets/bikini_lines.jpg" alt="A Woman in Bikini">
            </a>
            <div class="blog-post">
              <h6>
                <a href="#">Bikini Lines and Underarm Hair</a>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </section>

  <!-- About -->
  <section class="about">
    <div class="row">
      <h5>About Smart Touch Laser Aesthetics</h5>
        <p class="flow-text">Smart Touch Laser Aesthetics is a brand new
          business offering the best in laser hair removal. You can always count
          on our locally-owned-and-operated company for unparalleled expertise,
          great prices, and know-how—customer service and satisfaction is our number
          one priority. Our certified laser specialists (CLS) have 8 years of
          experience and work one-on-one with you to meet your hair removal
          needs every time you call. For quality hair removal in a nice, clean
          environment, visit us today—we're conveniently located next to the
          F-Train.
        </p>
  </section>

  <!-- Contact STLA -->
  <section class="contact">
    <div class="row">
      <h5>Contact Smart Touch Laser Aesthetics</h5>
    </div>
    <div class="row">
      <h6>We'd Love to Hear From You!</h6>
    </div>
    <div class="valign-wrapper">
      <form class="col s12">
       <div class="row">
         <div class="input-field col s6">
           <input id="first_name" type="text" class="validate">
           <label for="first_name">First Name</label>
       </div>
     <div class="input-field col s6">
       <input id="last_name" type="text" class="validate">
       <label for="last_name">Last Name</label>
     </div>
   </div>
   <div class="row">
     <div class="input-field col s12">
       <input id="email" type="email" class="validate">
       <label for="email">E-mail</label>
     </div>
   </div>
   <div class="row">
       <div class="input-field col s12">
         <textarea id="textarea1" class="materialize-textarea"></textarea>
         <label for="textarea1">Your Message</label>
         <button class="btn waves-effect waves-light" type="submit" name="action">
           Send Message<i class="material-icons right">send</i>
         </button>
       </div>
     </div>
 </form>
</section>

  <!-- Footer Section -->

  <footer>
    <div class="container">
      <div class="row">
        <div class="col s4 footer-box">
          <p class="address">
            Address:<br />
            700 East 22nd Street<br />
            New York, NY 11111-5555
          </p>
        </div>
        <div class="col s4 footer-box">
          <p class="hours">
            Hours of Operation:<br />
            Monday &ndash; Friday, 10:00 a.m. &ndash; 7:00 p.m.<br />
            Sunday and Evenings by Appointment
          </p>
        </div>
        <div class="col s4 footer-box">
          <p class="numbers-and-email">
            Phone: (718) 555-5555<br />
            Fax: (718) 555-5550<br />
            <a href="mailto:info@smarttouch.com">Email: info@smarttouch.com</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
  <div class="copyright">
    <div class="row center">
      <div class="col s4">
        Smart Touch &copy; 2017 All Rights Reserved.
      </div>
      <div class="col s4">
        <p>Developed with <i class="ion-heart"></i> by Tim Fleming</p>
      </div>
      <div class="col s4">
        <ul class="social-icons">
          <li><a href="https://twitter.com/TeeFlem"><i class="ion-social-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/in/tim-fleming-software-developer-30a83b24/"><i class="ion-social-linkedin"></i></a></li>
          <li><a href="https://github.com/tflem"><i class="ion-social-github"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <script>
  // Initialize collapse button
  $('.button-collapse').sideNav({
      menuWidth: 300, // Default is 240
      closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
    }
  );
  $('.collapsible').collapsible();
</script>
  </body>
</html>
