// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html,
body {
    background-color: #FFF;
    color: #201D1D;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-rendering: optimizeLegibility;
}

/* -------------------------------------------- */
/* Reusable Elements */
/* -------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

/* ------ Headings ------ */

h1 {
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    word-spacing: 4px;
}

h4 {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin-bottom: 20px;
}

h5 {
    font-family: 'Raleway', sans-serif;
    color: #000;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

h5:after {
    display: block;
    top: -10px;
    height: 2px;
    background-color: cyan;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 0 2px 6px #000;
    margin-bottom: 35px;
}

h6 {
    text-align: center;
    margin: 2px 0 auto;
}
