// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* -------------------------------------------- */
/* Basic Styling */
/* -------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

.valign-wrapper {
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html,
body {
    background-color: #FFF;
    color: #201D1D;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1em;
    height: 100%;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* -------------------------------------------- */
/* Reusable Elements */
/* -------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.footer-box, .copyright-box { text-align: center; }

/* ------ Headings ------ */

h1 {
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    word-spacing: 4px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: .5em;
    font-weight: 100;
    color: #00F5F5;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin-bottom: 10px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    color: #000;
    text-align: center;
    margin-bottom: 30px;
}

h3:after {
    display: block;
    top: -10px;
    height: 2px;
    background-color: teal;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 0 2px 6px #000;
}

h5 {
    text-align: center;
    margin: 2px 0 auto;
}


/* ------ Paragraphs ------ */

.company-introduction,
.about {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}

/* -------------------------------------------- */
/* Header */
/* -------------------------------------------- */

.section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),
                                      rgba(0, 0, 0, 0.6)), url('bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.company-name  {
    float: left;
    color: #FFF;
    text-decoration: none;
    margin-top: 30px;
    font-size: 1.5em;
}

/* -------------------------------------------- */
/* Buttons */
/* -------------------------------------------- */

.btn-large,
.btn-large:visited {
    background-color: #6DFFFF;
    border-radius: 4px;
    color: #000;
    border: 1px solid #6DFFFF;
    display: inline-block;
    padding: 15px 35px;
    font-weight: 700;
    text-decoration: none;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-large:hover,
.btn-large:active {
    background-color: #00796b teal darken-2;
}

/* -------------------------------------------- */
/* Blog Entries */
/* -------------------------------------------- */

.blog-entries,
.blog-post a {
    background-color: #F4F4F4;
    line-height: 145%;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-family: 'Raleway', sans-serif;
}

.blog-post a:hover { color: #14B0B0; }

/* -------------------------------------------- */
/* Contact Form */
/* -------------------------------------------- */

.contact {
    background-color: #F4F4F4;
}

/* form {
  max-width: 960px;
  display: block;
  text-align: center;
  margin: 50px auto;
} */

[type="submit"] {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    background: teal;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: #FFF;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}
[type="submit"]:hover { background: teal; }


/* -------------------------------------------- */
/* Footer */
/* -------------------------------------------- */

footer {
    background-color: #000;
    padding: 50px;
    font-size: 75%;
    color: #4db6ac;
}

footer a {
    text-decoration-color: #4db6ac;
    color: #4db6ac;
}

.address,
.hours { margin-bottom: 10px; }

@media screen and (min-width: 900px) {
    .address,
    .hours {
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: #333;
  }
}


/* -------------------------------------------- */
/* Copyright */
/* -------------------------------------------- */

.copyright {
    padding: 10px 0;
    box-sizing: border-box;
    height: auto;
    color: #4db6ac;
    overflow: hidden;
    font-size: 75%;
    border-top: 0 solid transparent;
    border-top-width: 1px;
    background-color: #16171D;
}

.ion-heart { color: #E74C3C; }

.social-icons {
    list-style: none;
    float: none;
}

.social-icons li {
    display: inline-block;
    margin-right: 20px;
}

.social-icons li:last-child { margin-right: 0; }

.social-icons li a:link,
.social-icons li a:visited {
    text-decoration: none;
    border: 0;
    color: #4db6ac;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.social-icons li a:link,
.social-icons li a:visited {
    font-size: 100%;
}

.ion-social-twitter,
.ion-social-linkedin,
.ion-social-github {
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.ion-social-twitter:hover { color: #00ACED; }

.ion-social-linkedin:hover { color: #0077B5; }

.ion-social-github:hover { color: #4078C0; }
